<footer >
    <div class="container pt-2">
      <section class="mb-2">    
        <a
          class="btn btn-link btn-floating btn-lg"
          href="#!"
          ><i class="fa-brands fa-facebook" style="color: #92a5c3;"></i>
        </a>
        <a
          class="btn btn-link btn-floating btn-lg"
          href="#!"  
          ><i class="fa-brands fa-square-twitter"  style="color: #92a5c3;"></i>
        </a>
  
        <a
          class="btn btn-link btn-floating btn-lg"
          href="#!"
          ><i class="fa-brands fa-linkedin" style="color: #92a5c3;"></i>
        </a>
       
        <span class="textgrey pt-2" style="float: right;"> © 2023 All Rights Reserved</span>
       
      </section>
     
    </div>

    
   
  </footer>