<div class="container-fluid">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title">Wallet Balance <i class="fa-solid fa-wallet colorpurple" style="float: right;"></i> </h5>
          <h1>{{walletBalalnce | currency: 'INR': 'symbol':'3.0'}}</h1>
          <p class="card-text textgrey">Current Balance</p>    
          <b>
            <span>Running low? 
              <a href="#" class="card-link colorpurple"> Click here</a>
              to add more
  
            </span>
          </b>
          
        </div>
        
      </div>
</div>
